<%= image_tag("18.gif") %><%= image_tag("15.gif") %>
</br>
<%= image_tag("waving.gif") %><%= image_tag("voice.png")%>
</br>
<ul>
  <li><%= link_to "Lesson1", one_path %></li>
  <li><%= link_to "Lesson2", two_path %></li>
  <li><%= link_to "Lesson3", three_path %></li>
</ul>


